SONAR_TOKEN=your_token
SONAR_HOST_URL=http://localhost:9001
SONAR_PORT=9001

# Run SonarQube analysis with this file copied to .env:
# ./gradlew sonar

# List unresolved issues in the terminal:
# ./gradlew sonarIssues

# Report test coverage in the terminal:
# ./gradlew sonarCoverage

# Report duplicated code in the terminal:
# ./gradlew sonarDuplicates
