body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 1rem;
    line-height: 1.5;
    color: black;
}

pre {
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    text-align: left;
    vertical-align: top;
}
